{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h1><p>Add New Entry</p></h1>
{% endblock page_header %}

{% block content %}

    <h3><p><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></p></h3> 

    <p>Add A New Entry:</p>

    <form action="{% url 'learning_logs:new_entry' topic.id %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-lg btn-primary" name="submit">Add entry</button>
    </form>

{% endblock content %}